<footer>
  <div class="container">
      <div class="container-left">
          <h1 class="container-left__color">Hướng Dẫn Di Chuyển</h1>
          <p>Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất Châu Á. Chỉ
              cách Đà Nẵng một quảng lái xe ngắn là bốn Di sản Văn hoá Thế giới được UNESCO công nhận:</p>
          <div class="map">
              <p>
                  <a href="#">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>Xem Trên Bản Đồ</span>
                  </a>
              </p>
          </div>
          <h3 class="container-left__color">Địa điểm</h3>
          <table class="table">
              <tbody>
              <tr>
                  <td>1.</td>
                  <td>Cố đô Huế</td>
                  <td>2 tiếng</td>
              </tr>
              <tr>
                  <td>2.</td>
                  <td>Phố cổ Hội An</td>
                  <td>30 phút</td>
              </tr>
              <tr>
                  <td>3.</td>
                  <td>Thánh địa Mỹ Sơn</td>
                  <td>90 phút</td>
              </tr>
              <tr>
                  <td>4.</td>
                  <td>Động Phong Nha</td>
                  <td>3 tiếng</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="container-right">
          <h2 class="container-right__color">Liên hệ</h2>
          <p><span style="color: var(--my-color);"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</p>
          <p><span style="color: var(--my-color);"><i class="fa fa-phone" aria-hidden="true"></i></span>
              Tel: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
          <p><span style="color: var(--my-color);"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              Email: <a href="#">reservation@furamavietnam.com</a></p>
          <p><span style="color: var(--my-color);"><i class="fa fa-google" aria-hidden="true"></i></span>
              Website: <a href="#">www.furamavietnam.com</a></p>
          <h3>@ 2018 Furama Resort Danang</h3>
      </div>
  </div>
</footer>
