<div class="container">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Gender</th>
        <th scope="col">Id Card</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="customerView">
        <th scope="row">{{customerView.id}}</th>
        <td>{{customerView.customerType}}</td>
        <td>{{customerView.customerName | titlecase}}</td>
        <td>{{customerView.customerBirthday}}</td>
        <td>{{customerView.customerGender}}</td>
        <td>{{customerView.customerIdCard}}</td>
        <td>{{customerView.customerPhoneNumber}}</td>
        <td>{{customerView.customerEmail}}</td>
        <td>{{customerView.customerAddress}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary mt-2 mb-2" [routerLink]="['/']">Back to list customers</button>
</div>
