<div class="container">
  <form [formGroup]="updateCustomer" (ngSubmit)="onSubmit()" novalidate>
    <div class="contentCreate mb-5">
      <h4 class="text-center mb-2">Update Customer</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="id"><strong>ID Customer: </strong></label>
            <input type="text" class="form-control" id="id" formControlName="id" placeholder="Enter id customer">
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="updateCustomer.get('id')?.invalid && updateCustomer.get('id')?.touched">
            <p>Id is required and must be KH-XXXX (0-9)</p>
          </div>
          <div class="form-group">
            <label for="type"><strong>Type Customer: </strong></label>
            <select class="form-control" formControlName="customerType" id="type">
              <option *ngFor="let type of typeCustomers" value="{{type.value}}">{{type.name}}</option>
            </select>
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="updateCustomer.get('customerType')?.invalid && updateCustomer.get('customerType')?.touched">
            <p>Type customer is required</p>
          </div>
          <div class="form-group">
            <label for="name"><strong>Name Customer: </strong></label>
            <input type="text" formControlName="customerName" class="form-control" id="name"
              placeholder="Enter name customer">
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="updateCustomer.get('customerName')?.invalid && updateCustomer.get('customerName')?.touched">
            <p>Name is required</p>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="col-form-label" for="birthday"><strong>Birthday: </strong></label>
              <input type="date" formControlName="customerBirthday" class="form-control" id="birthday"
                placeholder="mm/dd/yyyy">
            </div>
            <div class="alert alert-danger" role="alert"
              *ngIf="updateCustomer.get('customerBirthday')?.invalid && updateCustomer.get('customerBirthday')?.touched">
              <p>Birthday is required</p>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="gender"><strong>Gender: </strong></label>
              <select id="gender" class="form-control" formControlName="customerGender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="alert alert-danger" role="alert"
              *ngIf="updateCustomer.get('customerGender')?.invalid && updateCustomer.get('customerGender')?.touched">
              <p>Gender is required</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="id-card"><strong>Id card: </strong></label>
            <input type="text" class="form-control" formControlName="customerIdCard" id="cmnd"
              placeholder="Enter id card">
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="updateCustomer.get('customerIdCard')?.invalid && updateCustomer.get('customerIdCard')?.touched">
            <p>Id card is required and must be 9 digits or 12 digits</p>
          </div>
          <div class="form-group">
            <label for="phone"><strong>Phone number: </strong></label>
            <input type="text" class="form-control" formControlName="customerPhone" id="phone"
              placeholder="Enter phone customer">
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="updateCustomer.get('customerPhone')?.invalid && (updateCustomer.get('customerPhone')?.touched || updateCustomer.get('customerPhone')?.dirty)"
            role="alert">
            <p>Phone is required and format must be 090XXXXXXX or 091XXXXXXX</p>
          </div>
          <div class="form-group">
            <label for="email"><strong>Email: </strong></label>
            <input type="text" class="form-control" id="email" formControlName="customerEmail"
              placeholder="Enter email Customer">
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="updateCustomer.get('customerEmail')?.invalid && (updateCustomer.get('customerEmail')?.touched || updateCustomer.get('customerEmail')?.dirty)">
            <p>Email is required</p>
          </div>
          <div class="form-group">
            <label for="address"><strong>Address: </strong></label>
            <input type="text" class="form-control" id="address" formControlName="customerAddress"
              placeholder="Enter address Customer">
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="updateCustomer.get('customerAddress')?.invalid && updateCustomer.get('customerAddress')?.touched">
            <p>Address is required</p>
          </div>
          <input type="hidden" name="action">
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <a href="#" class=" btn btn-info mr-2">Back</a>
        <a type="reset" class=" btn btn-dark mr-2">Reset</a>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
